*
{
    box-sizing: border-box;
}
.containerAll
{
    background-color: #395980;
    height: 100%;
    padding: 5%;
    .boxTitre
    {
        border-radius: 20px;
        background-color: #02427C;
        display: flex;
        flex-flow: row;
        justify-content: center;
        img
        {
            @media screen and (min-width: 768px)
            {
                height: 150px;

            }
        }
        
    }
    h1
    {
        color: white;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px)
        {
            font-size: 3em;
        }
    }
}