//class JS
.hidden
{
    display: none;
}

.show 
{
    display: block;
}

.reponseSelection
{
    border: 5px green solid;
    background-color: #02427C;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.correctionPositive
{
    background-color: green;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.correctionNegative
{
    background-color: red;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.bulleCorrection
{
    background-color: #02427C;
    border-radius: 10px;
    height: 200px;
    width: 100%;  
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0% 5% 0% 5%;
    color: white;
    text-align: center;
    font-size: 0.9em;
}

.bouttonNext
{
    width: 50%;
    height: 50px;
    border: 2px #02427C solid;
    border-radius: 10px;
    background-color: #0758a3 ;
    font-size: 1em;
    color: white;
}