//class JS
.hidden
{
    display: none;
}

.show 
{
    display: block;
}

.reponseSelection
{
    background-color: #02427C;
    border: 5px green solid;
    border-radius: 10px;
    height: 50px;
    width: 100%;
}